<i [ngClass]="showNav ? 'bi bi-x mobile-nav-toggle d-xl-none' : 'bi bi-list mobile-nav-toggle d-xl-none'" data-toggle (click)="openSideNav()"></i>
<header id="header" [ngStyle]="showNav ? {'left': '0px'} : {'left': '-300px'}">
  <div class="d-flex flex-column">
    <div class="profile">
      <img src="assets/img/profile-pic.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light">Anurag Ratna</h1>
      <div class="social-links mt-3 text-center">
        <a class="facebook" (click)="openFacebook()"><i class="bx bxl-facebook"></i></a>
        <a class="instagram" (click)="openInstagram()"><i class="bx bxl-instagram"></i></a>
        <a class="linkedin" (click)="openLinkedin()"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li *ngFor="let component of components">
          <a [href]="'#'+component.sectionId" (click)="onMenuClick()" [ngClass]="component.active ? 'nav-link scrollto active' :'nav-link scrollto'">
            <i [ngClass]=component.menuIconClass></i>
            <span>{{component.name}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>