<section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Professional Background</h3>
          <div class="resume-item pb-0">
            <h4>Anurag Ratna</h4>
            <ul>
              <li>Developed full-stack web application using various technologies.</li>
              <li>Work experience of 1+ years.</li>
              <li>Strive to participate in team work and staying up-to-date with ongoing work.</li>
              <li>Quick learning and adaptable to changes in business and technology.</li>
            </ul>
          </div>
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Technology</h4>
            <h5>2016 - 2020</h5>
            <p><em>Maulana Azad National Institute of Technology, Bhopal, IN</em></p>
            <ul>
              <li><span class="subHead">Branch:</span> Computer Science and Engineering</li>
              <li><span class="subHead">GGPA:</span> 7.17</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>HSC &amp; SSC</h4>
            <h5>2003 - 2016</h5>
            <p><em>Delhi Public School, Vindhyanagar, IN</em></p>
            <ul>
              <li><span class="subHead">Board:</span> CBSE</li>
              <li><span class="subHead">SSC CGPA:</span> 10</li>
              <li><span class="subHead">HSC Percentage:</span> 89.4%</li>
              <li><span class="subHead">Achievements:</span> Qualified NTSE 2014</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Sr. Engineer - Cloud Services &amp; Software</h4>
            <h5>2020 - Present</h5>
            <p><em>Larsen & Toubro Infotech, Pune, IN </em></p>
            <ul>
              <li><span class="subHead">Project:</span> Travelers BIWS</li>
              <li><span class="subHead">Technology:</span> ExtJS, React, .NET, NodeJS, MongoDB</li>
              <li><span class="subHead">Development tools:</span> Webpack, Fiddler, IntelliJ, Kibana, Grafana, Rally</li>
              <li>Working as a developer in Transactional Underwriting Circle, contributing in features enhancement.</li>
              <li>Major area of work in the Risk Evaluation context.</li>
              <li>Working closely with Product Owners, Business Analysts, Functional and Technical experts and various supporting teams.</li>
              <li>Experience in Client interaction on daily basis.</li>
              <li>Involved in all Production deployments.</li>
              <li>Delivered UserStories on time and implemented CI/CD for each iteration work.</li>
              <li>Provided solution to client's requirement using design and debugging jobs.</li>
              <li>Recieved Client Appreciation for introducing new UI unit-testing framework.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div data-aos="fade-up">
          <h3 class="resume-title">Projects</h3>
          <div class="resume-item pb-0">
            <h4>AniPix</h4>
            <h5>2022 - present</h5>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>